@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

body {
  margin: 0;
  font-family: 'Roboto Mono';
  background-color: #618CD9;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input::placeholder {
  color: #3B5998;
  font-size: .9rem;
  font-family: 'Roboto Mono';
}

.FormNotes{
    background-color: #0b183000;
}

form{
  padding: 0%;
  flex-direction: column;
}

#hola{
  background-color: whitesmoke;
}

img {
  display: block;
  width: 23%;
  padding: 4% 0% 0% 8%;
}

.button{
  position: initial;
  width: 120px;
  height: 48px;
  background: #56BECC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  font-family:'Roboto Mono';
  font-size: 108%;
  border: none;
  border-radius: 5%;
  margin: 0px 0px 0px 172px;
  font-weight: bold;
}

form{
	width:300px;
	padding:16px;
	border-radius:10px;
	margin:auto;
	background-color:rgba(204, 204, 204, 0);
}

#inputTitulo {
	width:180px;
	padding:3px 55px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0;
	display:inline-block;
}

#inputNota {
	width:180px;
	padding:29px 55px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:4px 0px 18px 0px;
	display:inline-block;
}


#cardNote{
	width:293px;
	padding:10px;
	border-radius:5px;
	margin: 10px 0px 12px 20px;
	background-color:#f6f6f6;
  ;
}


#titleStyle{
  color:#3B5998;
  font-weight: bold;
  font-size: large;
  text-align: initial;
}

#noteStyle{
  color:#486cbb;
  text-align: initial;
}

.eliminar{
  background-image: url(assets/trash-icon.png);
  padding: 7% 8% 0% 6%;
  border-radius: 61%;
  border: medium;
  margin: 2% 0% -21% 60%;
  display: flex;
  justify-content: center;
  background-repeat:no-repeat;
  height:50px;
  width:50px;
  background-position:center;
}

.editar{
  background-image: url(assets/edit-icon.png);
  padding: 7% 8% 0% 0%;
  border-radius: 61%;
  border: medium;
  margin: 8% 0% 9% 77%;
  display: flex;
  justify-content: center;
  background-repeat:no-repeat;
  height:50px;
  width:50px;
  background-position:center;
}

#logoBig {
  display: block;
  margin-left: inherit;
  margin-right: auto;
  width: 40%;
  padding: 19% 0% 9% 31%;
}

#logoBigEnd {
  display: block;
  margin-left: inherit;
  margin-right: auto;
  width: 60%;
  padding: 37% 0% 12% 21%;
}

.buttonLogin{
  position: initial;
  width: 130px;
  height: 43px;
  background: #56BECC;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  font-family:'Roboto Mono';
  font-size: 79%;
  border: none;
  border-radius: 5%;
  margin: 12px 0px 1px 98px;
  font-weight: bold;
}

.buttonLogout{
  position: initial;
  width: 130px;
  height: 36px;
  background: #72bcc5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(255, 255, 255);
  font-family:'Roboto Mono';
  font-size: 86%;
  border: none;
  border-radius: 5%;
  margin: -7px 0px 6px 209px;
  font-weight: bold;
}

.email, .password {
	width:180px;
	padding:4px 40px 3px 28px;
	border:1px solid #f6f6f6;
	border-radius:3px;
	background-color:#f6f6f6;
	margin:8px 0px 0px 31px;
	display:inline-block;
}

.googleButton{
  background-image: url(assets/google-button.png);
  padding: 7% 8% 0% 6%;
  border-radius: 61%;
  border: medium;
  margin: 7% 0% -26% 60%;
  display: flex;
  justify-content: center;
  background-repeat:no-repeat;
  height:78px;
  width:78px;
  background-position:center;
  background-color: #618CD9;
  box-shadow: 0px 4px 4px hsl(242deg 88% 66% / 50%);
}


.fbButton{
  background-image: url(assets/facebook-button.png);
  padding: 7% 8% 0% 6%;
  border-radius: 61%;
  border: medium;
  margin: 0% 0% -20% 18%;
  display: flex;
  justify-content: center;
  background-repeat:no-repeat;
  height:78px;
  width:78px;
  background-position:center;
  background-color: #618CD9;
  box-shadow: 0px 4px 4px hsl(242deg 88% 66% / 50%);
}

h3{
  display: block;
  font-size: 100%;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
  padding: 5% 0% 0% 14%;
  color:rgb(255, 255, 255);
  text-decoration: underline;
}